*.swp
README.html
geoloc/nohup*
GeoLite*
broker
build
nohup.out
readme
backup
geoloc/*json
geoloc/*csv
geoloc/*pyc
geoloc/virustotals
geoloc/todo
geoloc/old_nohups/
geoloc/malware_report
geoloc/grep
*_old
*_OLD
*_bak
input/
